.cotornado {
    border: 1px solid black;
}

.negrito {
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}